*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: 	#3CB371;
}

header .chrono{
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;  
    margin: 2rem;
}
hr {
    width: 100%;
    height: 2px;
    background-color: black;
    border: none;
    cursor: pointer;
    margin-bottom: 5rem;
}
.row input{
    height: 4rem;
    width: 30%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    margin: auto;
    cursor: pointer;
    margin-bottom: 250px;
}
.time{
    display: none;
    color: #fff;
    font-size: 80px;
    font-family: 'montserrat', sans-serif;
    text-align: center;
}
.be-back p{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.tab-btn{
    
    color: #fff;
    background-color: var(--first-color);
}
.active {
    background-color: hsl(0, 0%, 13%); 
    padding: 1rem 1.25rem 0.875rem;
    border-radius: 0.25rem;
}

@media screen and (max-width: 800px) {
    .row input{
        width: 50%;
        margin-bottom: 150px;
    }
    .time{        
        font-size: 80px;
    }
    .be-back p{
        
        font-size: 30px;
        margin-bottom: 150px;
    }
    header .chrono{
        color: #fff;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;
        
        margin: 2rem;
    }
  }
  @media screen and (max-width: 550px) {
    header .chrono{
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        cursor: pointer;
        
        margin: 1rem;
    }
    span{
        margin: 1rem;
    }
    .row input{
        width: 65%;
        margin-bottom: 50px;
        
    }
    .time{
       
        
        font-size: 20px;
        
    }
    .be-back p{
       
        font-size: 16px;
        margin-bottom: 50px;
        
    }
  }